@charset "utf-8";
/* CSS Document */

/* =General Classes & Hacks
-----------------------------------------------------------------------------*/
body {
	color: #fff;
	font: 62.5%/1.6 Verdana, Helvetica, sans-serif; /* with this settings 1em = 10px approx. */
	background: #02050a url('../img/css/bkg_body_01.gif') repeat-x top left ;

}

/* Class for clearing floats */
.clear { overflow: hidden; width: 100%; clear: both; }

/* hidding elements */
.hide {	display: none; }

/* Remove border around linked images */
img { border: 0; }

/* align elements */
.alignLeft { text-align: left !important; }
.alignCenter { text-align: center !important; }
.alignRight { text-align: right !important; }
.alignJustify { text-align: justify !important; }
.alignTop { vertical-align: top !important; }
.alignMiddle { vertical-align: middle !important; }
.alignBottom { vertical-align: bottom !important; }

.centered {	margin-left: auto; margin-right: auto; }

.floatLeft { float: left; }
.floatRight { float: right; }
.imgFloatRight { margin: 0 0 20px 20px; float: right; }
.imgFloatLeft { margin: 0 20px 20px 0; float: left; }

.noBorder { border: none !important; }
.noMargin { margin: 0 !important; }
.noPadding { padding: 0 !important; }


.ml5px { margin-left:5px !important;}
.ml10px { margin-left:10px !important;}
.ml15px { margin-left:15px !important;}
.ml20px { margin-left:20px !important; }

.mr5px { margin-right: 5px !important;}
.mr10px { margin-right: 10px !important;}
.mr20px { margin-right: 20px !important;}

.mt5px { margin-top: 5px !important; }
.mt6px { margin-top: 6px !important; }
.mt10px { margin-top: 10px !important;}
.mt15px { margin-top: 15px !important;}
.mt20px { margin-top: 20px !important;}
.mt25px { margin-top: 25px !important;}


.mb3px { margin-bottom: 3px !important;}
.mb5px { margin-bottom: 5px !important;}
.mb10px { margin-bottom: 10px !important;}
.mb15px { margin-bottom: 15px !important;}
.mb20px { margin-bottom: 20px !important;}

.pl5px { padding-left:5px !important;}
.pl10px { padding-left:10px !important;}
.pl15px { padding-left:15px !important;}
.pl20px { padding-left:20px !important;}
.pl25px { padding-left:25px !important;}

 
.pt0px { padding-top:0px !important;}
.pt5px { padding-top:5px !important;}
.pt10px { padding-top:10px !important;}
.pt15px { padding-top:15px !important;}
.pt20px { padding-top:20px !important;}
.pt25px { padding-top:25px !important;}
.pt30px { padding-top:30px !important;}
.pt35px { padding-top:35px !important;}
.pt85px { padding-top:85px !important;}


.pr10px { padding-right:10px !important; }
.pr20px { padding-right:20px !important; }
.pr30px { padding-right:30px !important; }
.pr40px { padding-right:40px !important; }
.pr80px { padding-right:80px !important; }
.pr140px { padding-right:140px !important; }

.pb0px { padding-bottom:0px !important;}
.pb10px { padding-bottom:10px !important;}
.pb15px { padding-bottom:15px !important;}


.w5p { width: 5%; }
.w10p { width: 10%; }
.w17p {width: 17%;}
.w20p { width: 20%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w55p { width: 55%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w100p { width: 100%; }

.winherit { width: inherit ; }
.wauto { width: auto; }

.w10px { width: 10px; }
.w25px { width: 25px; }
.w30px { width: 30px; }
.w35px { width: 35px; }
.w40px { width: 40px; }
.w50px { width: 50px; }
.w70px { width: 70px; }
.w75px { width: 75px; }
.w80px { width: 80px; }
.w85px { width: 85px; }
.w90px { width: 90px; }
.w95px { width: 95px; }
.w100px { width: 100px; }
.w250px { width: 250px; }
.w570px { width: 570px; }
.w960px { width: 960px; }

.h10px { height: 10px; }
.h30px { height: 30px; }
.h35px { height: 35px; }
.h40px { height: 40px; }
.h45px { height: 45px; }
.h50px { height: 50px; }
.h90px { height: 90px; }
.h100px { height: 100px; }



.asBlock { display: block !important; }
.inLine { display: inline !important; }

.pAbsolute { position: absolute; }
.pRelative { position: relative; }

strong { font-weight: bold; }

em {font-style: italic; }

ul {
	list-style: none;
	list-style-position: outside;
}

ol {
	list-style-position: inside;
	color: #777; font-size: 1.2em; margin: 1.5em;
}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} /* End hide from IE-mac */



/* =Layout
----------------------------------------------------------------------------*/
#content {
    width: 860px;
    margin: 0 auto;
    padding: 30px 50px 10px 50px;
    
}

#footer {
    /*width: 960px;*/
    height: 45px;
    background: url(../img/css/bkg_footer_01.gif) repeat-x bottom;
    padding: 10px 0 0 0;    
}

    #footerTop {
        padding: 3px 1px 0 0;
        background: #2d68b2;
    }

    


/*------------------------------------------------------------------------*/





/* Classes and stuff
--------------------------------------------------------------------------*/

    
/*------------------------------------------------------------------------*/





/* =Type
--------------------------------------------------------------------------*/
a { text-decoration: none; color: #585d63;  }

p { font-size: 1.2em ; text-align: justify; /*letter-spacing: -1px;*/ line-height: 1.6; }
p.sackers1 { font-size: 1.5em; text-align: left; }
p.web { font-size: 1.8em; color: #3596fd; text-align: center; letter-spacing: 0; }
p.web a { color: #fff }
.highlighted { color: #3596fd; }
/*------------------------------------------------------------------------*/


