<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
    <add key="AppID" value="247"/>
    <add key="SoapKey" value="e19db619-a9b3-4ab0-acd4-e73a5bbdedce"/>
    <add key="RestKey" value="ab264e45-7dbb-47e3-bbab-5e9a65dfe391"/>
    <add key="siteID" value="200"/>
    <add key="siteKey" value="ae23adfb-3eb0-4e8b-bcbd-fe56bea74ec1"/>
    <add key="campaingID" value="213"/>
    <add key="campaingIDNews" value="73"/>
    <add key="campaingIDConcurso" value="218"/>
    <!-- indica el concierto en el que nos encotramos para cada campaña nueva de usuario 67, 213 etc...
    un concierto nuevo! con esto nos aseguramos que solo devolvemos usuarios para la campaña dada
    Campaña actual 213 -->
    <add key="conciertoID" value="4"/>




    <add key="urlDms" value="https://webservices.bacardi.com/crm/crmwebservice.asmx"/>
    <add key="urlGdf" value="https://webservices.bacardi.com/gdfgateway/gdf.asmx"/>
    <add key="smtp" value="10.10.20.36"/>
    <add key="dominio" value="http://www.eristoffinternativefestival.com/"/>
    <add key="dominio2" value="http://www.eristoffinternativefestival.com/"/>
    <add key="urlClick" value="http://www.eristoffinternativefestival.com/services/mailBanner.html"/>
 
  </appSettings>
  

 
  <connectionStrings>

    <add name="conexion" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa_admin;Initial Catalog=eristoff;Data Source=BLC017\SQLEXPRESS" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
		<httpHandlers>
			<add verb="*" path="LanapCaptcha.aspx" type="Lanap.BotDetect.CaptchaHandler, Lanap.BotDetect"/>
		</httpHandlers>
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="Lanap.BotDetect.Persistence.CustomSessionIDManager, Lanap.BotDetect"/>
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows"/>
		<!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
	</system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="LanapCaptchaHandler"/>
      <add name="LanapCaptchaHandler" preCondition="integratedMode" verb="*" path="LanapCaptcha.aspx" type="Lanap.BotDetect.CaptchaHandler, Lanap.BotDetect"/>
    </handlers>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDMSService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.bacardi.com/soap/secure/DMSService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDMSService"
          contract="IDMSService" name="BasicHttpBinding_IDMSService" />
    </client>
  </system.serviceModel>
  
</configuration>
